/*
body {
    background-color: yellow;
}
*/
img {
    width: 200px;
    height: auto;
    float: right;
}
#img2{
    width: 350px;
    height: auto;
    float: right;
}
h1{
    font-size: 64px;
    background: black;
    color: white;
    padding-left: 64px;
    padding: 32px 32px 32px 32px;  
    font-family: 'Pacifico', cursive;

}

h2, p {
    margin-bottom: 32px;
    border-left: 4px solid black;
    padding-left: 32px;
}
p {font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    background: black;
    color: aliceblue;
}
a:hover, h1:hover {
    background: red;
}